@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome shg</h1>
   
    <img src="~/images/pexels-martin-damboldt-814499.jpg" alt="Alternate Text" style="width:80%;"/>
</div>
